

html {
  font-size: 88.0%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.1;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.3;
  }
}


body {
  font-size: 1.1rem;
}

.lazy-load-image-background {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.lazy-load-image-loaded {
  opacity: 1;
}


.containerSlider {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}


.swiper_container {
  height: 32rem;
  padding: 2rem;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 35rem;
  height: 20rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  display: flex;
  bottom: 3rem;
  align-items: center;
  justify-content: center;

}

.swiper-pagination {
  position: relative; /* Centraliza no contêiner pai */
  bottom: -2rem; /* Coloca a paginação um pouco abaixo */
  max-width: 500px; /* Limita a largura máxima da div */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza o conteúdo dentro da própria div */
  overflow-wrap: break-word;
  
}
.swiper-pagination-bullet {
  width: max-content;
  background: none; /* Remove a bolinha */
 
}

.swiper-pagination .swiper-pagination-bullet-active {
  color: #4a5568; /* Cor para o número ativo */
  opacity: 1; /* Realça o número ativo */
}


.swiper-button-prev, .swiper-button-next {
  z-index: 10;
  top: 50%;
  transform: translateY(-20%);
}

.swiper-button-next {
  right: 20rem; /* Aproxima a seta direita da paginação */
}


.swiper-button-prev {
  left: 20rem; /* Aproxima a seta esquerda da paginação */
}



@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    right: 3rem; /* Ajusta para telas menores */
    
  }
  
  .slider-controler .swiper-button-prev {
    left: 3rem; /* Ajusta para telas menores */
  
  }
}

@media (max-width: 650px) {
  .slider-controler .swiper-button-next {
    right: 0rem; /* Ajusta ainda mais a posição das setas em telas pequenas */
    position: relative;
  }
  
  .slider-controler .swiper-button-prev {
    left: 0rem;
    position: relative;
  }

  .slider-controler {

    bottom: 5rem;

  
  }

    .swiper-pagination .swiper-pagination-bullet {
      font-size: 0.8rem; /* Ajusta o tamanho dos números em telas menores */
  }
  .swiper-pagination {

    bottom: 1rem; /* Coloca a paginação um pouco abaixo */
 
    
  }


}

.slider-controler .slider-arrow {
  background: var(--white);
  border-radius: 50%;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 4rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}



.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}


