@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    margin: 0px;
    padding: 0;
    font-family: Arial, sans-serif;
}



.map {
    width: 100%;
}

.casas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: azure;
}

.casas div img {
    width: 100%;
}

.casas div img:hover {
    opacity: 0.5;
}

p {
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
}



.work-sans {
    font-family: 'Work Sans', sans-serif;
}
        
#menu-toggle:checked + #menu {
    display: block;
}

.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover\:grow:hover {
    transform: scale(1.02);
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #000;
    /*Set to match the Tailwind colour you want the active one to be */
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh ); /* Altura total da tela menos a altura da barra de navegação */
    background-image: url('/img/Banner-novo.jpg') ;
    background-position: top;
    z-index: 10; /* Certifique-se de que a imagem de fundo esteja atrás da nav */
    justify-content: center;
    align-items: center;
    display: flex;
}

/* CSS para a barra de navegação */
.transparent-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 74px; /* Altura da barra de navegação */
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo com transparência */
    z-index: 40; /* Certifique-se de que a barra de navegação esteja sobre a imagem de fundo */
}

.mt-custom {
    margin-top: calc(100vh - 60px); /* Altura total da tela menos a altura do espaçador */
    padding-top: 64px;
}


.custom-font {
    font-family: 'Shadows Into Light', cursive;
}

.roboto {

    font-family: 'Roboto', sans-serif; /* Para o texto do corpo */
} 

